/*camera*/
body {
	margin: 0;
	padding: 0;
     }

#back_to_camera {
	clear: both;
	display: block;
	height: 80px;
	line-height: 40px;
	padding: 20px;
	}


/*footer
.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#home .ui-icon { background:  url(img/ho.png) 50% 50% no-repeat; background-size: 24px 22px; }
#wiki .ui-icon { background:  url(img/wiki.png) 50% 50% no-repeat; background-size: 24px 22px;  }
#contact .ui-icon { background:  url(img/mail.png) 50% 50% no-repeat;  background-size: 24px 22px; }
*/	
